body {
  background-image: url("../images/green.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1em;
  opacity: 0.75;
  text-align: left;
  height: 100px;
  line-height: 100px;
}

.leftside, .rightside {
    height:100vh;
    width: 100%;
    font: size 15px;
    justify-content: left;
    display: block;
    align-items: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-inline {
  display: block;
}

.selectpicker {
  width: auto;
}

@media screen and (min-width:769px)
{
  .leftside, .rightside
  height: 100vh;
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:16px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:7px 12px;
	text-decoration:none;
	text-shadow:0px 0px 50px #ffffff;
  opacity: 0.5;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select select {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 10px 15px;
      outline: 0;
      border: 1px solid #c0e7c5;
      border-radius: 23px;
      background: #8dbe88;
      color: #ffffff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      opacity: 0.75;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #ffffff;
          background: #8dbe88;
          opacity: 0.75;
          border: 1px solid #c0e7c5;
          border-radius: 23px;
      }
      .select select:disabled {
          opacity: 0.75;
          pointer-events: none;
      }
.select_arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #0d4b06;
	color: white;
	text-align: center;
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  height:450px;
  overflow:auto;
  margin-top:20px;
}

#table-wrapper table {
  width:100%;

}

#table-wrapper table * {
  background:#8dbe88;
  color:white;
  text-align:center;
  font-size:small;
}

#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

#table-wrapper caption {
  caption-side: top;
}
