<!doctype html>
<html lang="en">
<head>
    <style>
    body {
      background: url('static/weather.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Application For EPAM</title>
</head>
<body>
  <div style="position: absolute; ">
  <h2 style="font-size: xx-large; font-style: normal; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">Welcome to the weather forecast</h2>
    <p2 style="font-size: large; font-weight: bolder; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">Just pick up a date in the below form <br> and you will see forcast at this day.<br>Let's start!<br></p2>
    <form class="form-inline" method="POST" action="{{ url_for('render_results') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" style="font-size: large; font-weight: bolder; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white;">Please select a date: </span>
              <select style="color: cornflowerblue; border-radius: 5cm; font-family:Verdana, Geneva, Tahoma, sans-serif;" name="date_select" class="selectpicker form-control">
                {% for date in list_of_date %}
                  <option  value="{{ date }}" style="font-size: medium; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 400; background-color:rgb(196, 222, 223) ; border-radius: 5cm;">{{date}}</option>
                {% endfor %}
              </select>
      </div>
    <button style="font-size: 2ch; font-family:Verdana, Geneva, Tahoma, sans-serif; color: white; background-color:lightskyblue; border:thick; border: azure; border-radius: 5cm; font-weight: 700;" type="submit" class="btn btn-default">Forecast</button>
    <form action="{{ url_for('update') }}">
        <input style="font-size: 2ch; border: 2cm; font-family:Verdana, Geneva, Tahoma, sans-serif; color: white; background-color:lightskyblue; border:thick; border: azure; border-radius: 5cm; font-weight: 700;" type="submit" name="update_table" value="Update table"/>
    </form>
  </div>
</form>
</body>
</html>
